name: Backend CI

on:
  pull_request:
    branches: [main, dev]

jobs:
  backend-test:
    name: Test with Race Detection and Integrations
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/api
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: apps/api/go.mod
          cache: 'true'

      - name: Create traefik network
        run: docker network create traefik || true

      - name: Run tests with race detection
        run: RUN_DOCKER_TESTS=1 go test -race  ./... -coverprofile=coverage.out -covermode=atomic

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./apps/api/coverage.out
          flags: api # group and filter coverage by component
