name: api

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, dev]

jobs:
  backend-test:
    name: Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: api/go.mod
          cache: "true"

      - name: Create traefik network
        run: docker network create traefik || true

      - name: Run tests with race detection
        run: RUN_DOCKER_TESTS=1 go test -race  ./... -coverprofile=coverage.out -covermode=atomic
        # postgres in CI not needed for now until postgres store is implemented,only pool is current scaffolded

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./api/coverage.out
          flags: api # group and filter coverage by component
